:root { 
--red_700:#e82327; 
--light_green_A100:#a2ff8b; 
--gray_50:#fafafa; 
--black_900_1e:#0000001e; 
--black_900_21:#00000021; 
--teal_400:#10a6a0; 
--teal_600:#147e7a; 
--black_900_23:#00000023; 
--black_900:#000000; 
--gray_501:#939496; 
--gray_402:#c0c0c0; 
--gray_600:#7b7b7d; 
--gray_502:#929292; 
--gray_700:#626264; 
--gray_400:#c7c7c7; 
--gray_301:#e6e6e6; 
--gray_500:#a9a9a9; 
--gray_401:#c4c5c8; 
--gray_302:#e3e2e1; 
--gray_800:#4b4b4b; 
--bluegray_100:#cecece; 
--black_900_c9:#000000c9; 
--gray_200:#efefef; 
--gray_101:#f5f6fa; 
--gray_300:#dddde1; 
--gray_201:#e9e9e9; 
--gray_100:#f3f3f3; 
--bluegray_900:#313132; 
--bluegray_800:#2e3a59; 
--bluegray_400:#8d8d8d; 
--cyan_50:#dbfffd; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--cyan_400:#1cd6ce; 
}